header{
    display:flex;
    justify-content: space-between;
    margin-left: 40px;
}
ul{
    display:flex;
    justify-content: space-around;
    list-style-type: none;
}
nav{
    width: 60vw;
    font-size: x-large;
}
h1{
    font-weight: 5
}
.big_img{
    width: 95vw;
    margin: 2rem;
    margin-bottom: 4rem;
}
.side{
    display: flex;
}
.side>div{
    text-align: center;
    width: 30%;
    margin: 2rem;
}
.side>div>p{
    font-size:x-large;
    text-align: center;
    line-height: 2rem;
}
h1{
    font-weight: lighter;
}
*{
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
footer{
    text-align: center;
    background-color: black;
    color: white;
    height: 4rem;
}
p{
    font-size: x-large;
    padding: 1rem;
}
ul>li:hover{
    cursor: pointer;
    color: red;
}